<div class="hero-unit">
	<h2>Under Development</h2>
	<p style="padding-left: 20px">This page will be filled out soon, however in short...
		<ol>
			<li><pre>$ bosh create release</pre></li>
			<li><pre>$ bosh upload release</pre></li>
			<li>Use the <a href="https://github.com/drnic/bosh-gen">bosh-gen</a> manifest command to generate a manifest file</li>
			<li><pre>$ bosh deployment [MANIFEST YML FILE]</pre></li>
			<li><pre>$ bosh deploy</pre></li>
		</ol>
	</p>
</div>