<div class="row">
	<div class="span8">
		<div class="hero-unit">
			<center>
				<!--<h1>BOSHDB</h1>-->
				<img src="<%= asset_path "boshdb_logo.png" %>" />
				<p>The BOSH Release Repository</p>
				<br />
				<div class="links">
					<a href="https://twitter.com/boshdb" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @boshdb</a>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://boshdb.com" data-text="BOSHDB, the BOSH release repository - " data-via="boshdb" data-size="large">Tweet</a>
				</div>
			</center>
			<br /><br /><br />
			<div id="boshdb_info">
				<h3>What is BOSHDB?</h3>
				<p style="padding-left:20px">BOSHDB is a community-driven BOSH release repository</p>
				<br />
				<h3>What is BOSH?</h3>
				<p style="padding-left:20px"><a href="https://github.com/cloudfoundry/bosh"><u>BOSH</u></a> can be best described as a system to create and maintain large, complex distributed systems. Or small ones. Or somewhere in between. BOSH was created to deploy and manage <a href="http://cloudfoundry.com/"><u>Cloud Foundry</u></a>, VMware's Platform-as-a-Service offering. At release though, it became a generic tool that's invaluable to those managing complex systems. It can deploy and manage everything from a single Apache server to, well, something as complex as Cloud Foundry.</p>
				<br />
				<h3>How do I deploy a release?</h3>
				<p style="padding-left:20px">Read <a href="/deploy-a-release"><u>this</u></a></p>
				<br />
				<h3>What if I want to make a release?</h3>
				<p style="padding-left:20px">Then read <a href="/release-tutorial"><u>this</u></a></p>
			</div>
		</div>
	</div>
	<div class="span4">
		<div class="hero-unit">
			<h3>Top 5 Releases</h3>
			<div style="padding-left:10px; padding-top:5px">
				<ol>
					<% @releases_top5.each do |top5r| %>
						<li><%= link_to top5r.name, top5r %></li>
					<% end %>
				</ol>
			</div>
		</div>
		<div class="hero-unit">
			<h3>Newest Releases</h3>
			<div style="padding-left:10px; padding-top:5px">
				<ol>
					<% @releases_newest.each do |newr| %>
						<li><%= link_to newr.name, newr %></li>
					<% end %>
				</ol>
			</div>
		</div>
	</div>
</div>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
